body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
}

.panel-heading a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main-content {
  height: 100vh;
}

.content-container {
  height: calc(100% - 64px);
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wheel-container:before,
.wheel-container:after {
  content : "";
  display : table;
}
.wheel-container:after {
  clear : both;
}

.sidebar, .wheel-container {
  width: 45%;
}

.sidebar {
  height:95%;
}

.sidebar > div:first-child {
  margin-bottom: 16px;
}

.wheel-container {
  min-height: 368px;
  min-width: 368px;
  max-height: 744px;
}

.wheel-content {
  position: relative;
  margin: 16px auto;
  min-width: 360px;
  max-width: 640px;
  min-height: 360px;
  max-height: 640px;
}

.wheel-content:before{
  content: "";
  display: block;
  padding-top: 100%; 	/* initial ratio of 1:1*/
}

.wheel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  min-width: 360px;
  max-width: 640px;
  min-height: 360px;
  max-height: 640px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
  box-sizing:border-box;
}

.slice-contents {
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  border-radius: 50%;
  opacity: 0.5;
  text-align: center;
  transition: opacity .5s;
}

.slice-contents:hover { opacity: 1; }

.modal-content {
  width: 90% !important;
  max-width: 480px !important;
}

.snackbar {
  text-align: center;
}

.login-button-container {
  margin-top: 14px;
  height: 36px;
}

.login-button-container .raised-button {
  vertical-align: top;
}

.login-button-container div:not(:first-child) {
  margin-left: 16px;
}

.login-button-container .circular-progress {
  margin-top: 3px;
  margin-bottom:3px;
}

.form-field-margin {
  margin-top: 14px;
}

.reviews-list {
  height: 100%;
}

.reviews-list > div:nth-child(2) {
  height: calc(100% - 64px);
}

.reviews-list .tabs {
  overflow-y: scroll;
  height: calc(100% - 48px);
  min-height: 368px;
}

.reviews-list .review-comment {
  -webkit-line-clamp: 1000 !important;
  height: inherit !important;
}

.reviews-list-buttons {
  position: absolute !important;
  top: 0;
  right: 4px;
}

.review-modal .form-field-margin:last-child {
  margin-left: 16px;
}

.appbar-on-tabs {
  flex-wrap: wrap;
  z-index: 0 !important;
}

.tabs {
  width: 100%;
}

.appbar-buttons {
  line-height: 64px;
}

.appbar-buttons button span {
  color: white;
}

.appbar-buttons button svg {
  fill: white !important;
}

@media only screen and (max-width: 960px) and (min-height: 422px) {
  body {
    overflow: auto;
  }
}

@media only screen and (max-width: 1510px) {
  .wheel-content {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (max-width: 1080px) {
  .main-content {
    height: 100%;
  }
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
  }
  .wheel-container {
  }
  .sidebar, .wheel-container {
    margin-top: 2.5%;
    width: 95%;
  }
  .wheel-content {
    width: 65%;
    min-height: 368px;
    min-width: 368px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 536px) {
  .appbar-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 535px) {
  .appbar-buttons {
    display: none;
  }
}


